<div class="cs" [class.open]="open">
  <button class="cs-trigger" type="button" (click)="toggle()" [attr.aria-expanded]="open" aria-haspopup="listbox">
    <span class="cs-label">{{ selectedLabel || placeholder }}</span>
    <svg class="cs-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
      <polyline points="6 9 12 15 18 9" />
    </svg>
  </button>
  <div class="cs-menu" *ngIf="open" role="listbox">
    <button
      class="cs-option"
      type="button"
      *ngFor="let opt of options"
      [class.selected]="isSelected(opt)"
      [disabled]="opt.disabled"
      (click)="select(opt)">
      {{ opt.label }}
    </button>
  </div>
</div>
